body{
    margin: 0;
    background: coral;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


input[type="text"]{
    padding: 5px;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input[type="submit"]{
    padding: 5px;
    border:0;
    background: greenyellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alldata{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.data{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background: white;
    margin-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.data p{
    width: 50%;
}